<div id="account-data" class="row">
    <h2 class="text-center">Account data</h2>

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-12">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
            <p>
                <strong>id</strong>: {{user._id}}<br>
                <strong>email</strong>: {{user.email}}<br>
                <strong>password</strong>: {{user.password}}
            </p>
            <a href="/auth/local/unlink" class="btn btn-default">Delete Account</a>
        </div>
    </div>

    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-12">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
            {{#if user.facebook.token}}
                <p>
                    <strong>id</strong>: {{user.facebook.id}}<br>
                    <strong>token</strong>: {{user.facebook.token}}<br>
                    <strong>email</strong>: {{user.facebook.email}}<br>
                    <strong>name</strong>: {{user.facebook.name}}
                </p>
                <a href="/auth/facebook/unlink" class="btn btn-primary">Unlink</a>
            {{else}}
                <a href="/auth/facebook/connect" class="btn btn-primary">Connect Facebook</a>
            {{/if}}
        </div>
    </div>

    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-12">
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
            {{#if user.google.token}}
                <p>
                    <strong>id</strong>: {{user.google.id}}<br>
                    <strong>token</strong>: {{user.google.token}}<br>
                    <strong>email</strong>: {{user.google.email}}<br>
                    <strong>name</strong>: {{user.google.name}}
                </p>
                <a href="/auth/google/unlink" class="btn btn-danger">Unlink</a>
            {{else}}
                <a href="/auth/google/connect" class="btn btn-danger">Connect Google</a>
            {{/if}}
        </div>
    </div>

    <!-- INSTAGRAM INFORMATION -->
    <div class="col-sm-12">
        <div class="well">
            <h3 class="text-warning"><span class="fa fa-instagram"></span> Instagram</h3>
            {{#if user.instagram.token}}
                <p>
                    <strong>id</strong>: {{user.instagram.id}}<br>
                    <strong>token</strong>: {{user.instagram.token}}<br>
                    <strong>username</strong>: {{user.instagram.username}}<br>
                    <strong>name</strong>: {{user.instagram.name}}<br>
                    <strong>profile_picture</strong>: {{user.instagram.profile_picture}}
                </p>
                <a href="/auth/instagram/unlink" class="btn btn-warning">Unlink</a>
            {{else}}
                <a href="/auth/instagram/connect" class="btn btn-warning">Connect Instagram</a>
            {{/if}}
        </div>
    </div>

</div>